<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rapidos y Furiosos | Habilitar Color</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <h1>Gestión de Estado de Colores</h1>
        <a th:href="@{/color/listar}" class="btn btn-dark">Regresar</a>
        <div class="mb-3"></div>
        
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre del Color</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Habilitar</th>
                        <th scope="col">Deshabilitar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="col : ${listacolor}">
                        <th scope="row" th:text="${col.codigo}"></th>
                        <td th:text="${col.nombre}"></td>
                        <td th:text="${col.estado} ? 'Habilitado':'Deshabilitado'"></td>
                        <td><a th:href="@{/color/habilitar/{id}(id=${col.codigo})}" class="btn btn-warning">Seleccionar</a></td>
                        <td><a th:href="@{/color/deshabilitar/{id}(id=${col.codigo})}" class="btn btn-danger">Seleccionar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>