<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rapidos y Furiosos | Habilitar Distrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>


<body>
    <div class="container">
        <h1>Listado de Distritos</h1>
        <a th:href="@{/distrito/listar}" class="btn btn-dark">Regresar</a>
        <div class="mb-3"></div>
        <!-- inicio de tabla -->
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Habilitar</th>
                        <th scope="col">Deshabilitar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dis : ${listadistrito}">
                        <th scope="row" th:text="${dis.codigo}"></th>
                        <td th:text="${dis.nombre}"></td>
                        <td th:text="${dis.estado} ? 'Habilitado':'Deshabilitado'"></td>
                        <td><a th:href="@{/distrito/habilitar/{id}(id=${dis.codigo})}" class="btn btn-warning">Seleccionar</a></td>
                        <td><a th:href="@{/distrito/deshabilitar/{id}(id=${dis.codigo})}"  class="btn btn-danger">Seleccionar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- fin de la tabla -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>


</html>
